@mixin glass {

    background: rgba(255,255,255,.06);

    backdrop-filter: blur(24px);

    -webkit-backdrop-filter: blur(24px);

    border:1px solid rgba(255,255,255,.08);
}

@mixin flex-center{
    display:flex;
    justify-content:center;
    align-items:center;
}