@use '../../styles/variables' as *;

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: $spacing-lg;
    padding: $spacing-lg;

}

.grid > * {
    width: 100%;
    min-width: 0;
}